# Database Configuration
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USERNAME=root
MYSQL_PASSWORD=yourpassword
DATABASE_NAME=yourdatabase
#Gmail Configuration
GMAIL_USER = "yourgmail@gmail.com"
GMAIL_APP_PASSWORD = "aaaa bbbb cccc dddd"
SMTP_HOST = "smtp.gmail.com"
SMTP_PORT = "500"
# JWT Configuration
SECRET_KEY=jwt-secret-key
ALGORITHM=algorithm
# Mailtrap Configuration
MAILTRAP_USER=mailtrap-username
MAILTRAP_PORT=2525
MAILTRAP_HOST=sandbox.smtp.mailtrap.io
MAILTRAP_PASSWORD=mailtrap-password
MAILTRAP_API_KEY=mailtrap-api-key
# Application Domain
DOMAIN=http://localhost:8000
# Google OAuth Configuration
GOOGLE_CLIENT_ID="provide client id"
GOOGLE_CLIENT_SECRET="provide client secret"
GOOGLE_REDIRECT_URI=http://localhost:8000/auth/callback